
<div class="col-xs-12 col-md-8 col-xl-6">
  <div class="bg-dark user-wrapper">
    <div class="m-3">

<%= simple_form_for([ @user, @user.create_wants_list] , html: { class: ''}) do |f| %>




    <div class="form-group">
        <%= f.label :Välj_streamingtjänster, class: 'control-label' %>
        <div align="left" class="col-xs-offset-4 lead">
          <%= f.association :packages, :label_method => lambda { |package| " #{package.provider} | #{package.name} - #{package.price}:-/mån" },
          as: :check_boxes, label: false, class: 'm-2', :item_wrapper_class => 'body-text form-check', collection: Package.order('sort ASC')%>
        </div>
    </div>
    <div class="actions form-group">
        <%= f.submit "Skapa lista", class: 'btn btn-primary btn-block'%>
    </div>
    <% end %>

    </div>
  </div>
</div>
