

<div class="m-5" align="center">
<div class="col-xs-12 col-md-12 col-xl-12">

<%= image_tag("delastream.png", :alt => "De La Stream", :width => "260") %><br>

<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-5" align="center">

  <%= link_to 'Logga in', login_path, :class => 'btn btn-primary btn-block mt-5' %>
  <%= link_to 'Skapa användare', new_user_path, :class => 'btn btn-primary btn-block mt-2' %>
</div>

</div>


</div>
